body {
    text-align: center;
}

button {
    height: 30px;
    width: 73px;
    margin-bottom: 5px;
    color: white;
    border: none;
    padding: 5px, 0, 5px, 0;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;

}

.body-div {
    position: relative;
    background-color: rgba(204, 186, 180, 0.5);
    /* last parameter is opacity but does not influence child divs*/
    border-radius: 10px;
    padding: 0 auto;
    margin: 20 auto;
    width: min-content;

}

#increment-btn {
    background-color: green;
}

#increment-btn:hover {
    background-color: rgb(25, 165, 25);
}


#decrement-btn {
    background-color: darkred;
}

#decrement-btn:hover {
    background-color: rgb(209, 0, 0);
}

#save-btn {
    background-color: rgb(116, 143, 17);
    width: 150px;
    margin-bottom: 15px;
}

#save-btn:hover {
    background-color: rgb(153, 185, 37);
}

h1 {
    text-align: center;
    border-radius: 7px;
    background-color: rgb(148, 136, 132, 0.3);
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    word-wrap: none;
    min-width: max-content;
    width: min-content;
}

#save-el {
    background-color: rgb(148, 136, 132, 0.3);
    text-align: center;
    border-radius: 7px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    height: auto;

    max-width: 80%;
    min-width: fit-content;

}

#error {

    align-content: center;
    text-align: center;
    color: rgb(212, 44, 44);
    border-radius: 7px;
    /* background-color: rgba(189, 114, 114, 0.3); */
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    min-width: max-content;
    width: min-content;
}

/*
#heads {
    text-align: center;
}

/* #increment-btn { */
/* } */